# Folders
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
TEMP/
artifacts/

# Project specific
.vscode/

# Files
*.lock.json
*.nuget.props
*.nuget.targets
*.log
*.temp 
*.tmp 
